$primary-text-color: #fff;
$second-text-color: #999999;
$accent-text-color: #ffc530;
$danger-text-color: #ff0000;
$background-base: #000;
$background-info: #2d2d2d;
$background-header: #505050;
$background-header-orange: #f0b212;
$background-header-red: #b50000;

$control-accent-color: #4E63FF
