@import "styleKit";

body {
  background: $background-base;
  @include text();
}
.v-table {
  .v-table__wrapper > table {
    thead > tr {
        background-color: $background-header;
        td, th {
          border-bottom: 2px solid $background-base !important;
          &:first-child {
            padding-left: 50px;
          }
        }
    }
    tbody {
      tr {
        background-color: $background-info;
        p {
          font-size: 1.125rem;
        }
        td, th {
          &:first-child {
            padding-left: 50px;
          }
        }
        &:not(:last-child) {
          td, th {
            border-bottom: 2px solid $background-base !important;

          }
        }
      }
    }
  }
}
